#<IfModule mod_rewrite.c>
#    Options -MultiViews
#    RewriteEngine On
#
#	RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^ index.php [L]
#</IfModule>

# source: http://xuad.net/artikel/php-framework-laravel-auf-uberspace-linux-installieren.html

Options +FollowSymLinks
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php [L]